* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(23, 155, 148);
  --bg: rgb(177, 177, 177);
  --book-page-bg: rgb(226, 226, 226);
  --gray: rgba(44, 44, 44, 0.753);
}

.outer_main {
  position: relative;
  top: 50px;
}

.inner_main {
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background: var(--book-page-bg);
}

/* HEADER */

.header_main {
  height: 50px;
  width: 100%;
  background: rgba(44, 44, 44, 0.753);
  backdrop-filter: blur(15px);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.header_main img {
  cursor: pointer;
}

.inner_header {
  width: 1000px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.inner_header > div:not(.search_main) {
  display: flex;
  align-items: center;
}

.left_header {
  padding-left: 20px;
  cursor: pointer;
}

.fullsize_main {
  display: flex;
  align-items: center;
}

.left_header img {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

/* SEARCH */

.search {
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.search h4 {
  cursor: pointer;
}

.search img {
  filter: invert(1);
  height: 20px;
  width: 20px;
  margin-left: 15px;
}

.search_main {
  position: fixed;
  width: 100vw;
  padding: 16px;
  background: rgb(238, 238, 238);
  top: 50px;
  left: 0;
  box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.404);
  display: grid;
  place-items: center;
}

.search_input {
  font-size: 1.2em;
  padding: 8px;
  width: 95%;
  margin: auto;
  color: black;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: 0px 1px 0px 0px;
}

.search_outer {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 120px;
  left: 0px;
  background: white;
  color: black;
  box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.404);
}

.search_inner {
  margin: auto;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  display: flex;
}

.search_inner > div {
  width: 50%;
}

.searched_content a {
  display: flex;
  padding-top: 10px;
}

.search_inner p:not(.not-found),
.searched_content a {
  width: 90%;
  text-decoration: underline;
  color: black;
}

.search_inner p:not(.not-found):hover,
.searched_content a:hover {
  color: var(--gray);
}

.searched_content p:not(.not-found) {
  padding-top: 10px;
  cursor: pointer;
}

/* CATEGORIES */

.category_name {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sort_main {
  width: 200px;
  overflow: hidden;
  transition: height 0.5s;
}

.sort_main > div:not(.hr) {
  margin-left: 20px;
  margin-top: 15px;
}

.books_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  padding-bottom: 100px;
}

.book_item {
  text-align: center;
}

.cover {
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
  transition: scale 0.3s;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.295);
}

.cover:hover {
  scale: 1.1;
}

.books_main {
  margin-top: 10px;
}

.book_item {
  padding: 5px;
}

.book_item {
  cursor: pointer;
}

.books_main a {
  color: black;
}

.category h3 {
  margin-bottom: 5px;
  font-weight: normal;
  color: black;
}

.category h3 ~ p {
  color: var(--bg);
  padding-top: 5px;
  cursor: pointer;
}

.category h3 ~ p:hover {
  color: black;
}

/* FOOTER */

footer {
  background: white;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

footer .hr {
  margin: 0;
}

.inner_footer {
  display: flex;
  align-items: center;
}

.inner_footer img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.inner_footer h4 {
  color: black;
}

.inner_footer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px;
}

.inner_footer img {
  filter: invert(1);
}

/* FITERS SORT */

.per_page_main,
.filter_by {
  display: flex;
  align-items: center;
}

.per_page_main p,
.filter_by p {
  white-space: nowrap;
  padding-right: 5px;
}

.books_and_filters {
  width: 800px;
}

.filters_left {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 200px;
  padding-left: 20px;
}

.filters-right {
  padding-right: 20px;
}

.filters_main select {
  padding: 2px;
}

.filter_by {
  margin-right: 20px;
}

.filters_main {
  padding-top: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.loading {
  padding-left: 20px;
  padding-bottom: 10px;
}

/* PAGINATION */

.active {
  background: black;
  color: white;
}

.pagination_pages {
  display: flex;
}

.pagination_pages div {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
  margin-right: 5px;
  margin-left: 5px;
  display: grid;
  width: 25px;
  place-items: center;
}

.pagination_pages div:hover {
  background: black;
  color: white;
}

.arrow_bg {
  display: grid;
  cursor: pointer;
  place-items: center;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
}

.right_arrow {
  color: white;
}

.arrow_bg:hover {
  background: white;
  filter: invert(1);
}

.right_arrow {
  rotate: 180deg;
}

.pagination_main {
  display: flex;
}

.not-found {
  padding-top: 10px;
}

/* ADAPTIVE */

.sort_toggle {
  display: none;
}

@media (max-width: 600px) {
  .sort_toggle {
    display: block;
    background: white;
    border: none;
    color: black;
    margin-top: 15px;
    padding-left: 20px;
    cursor: pointer;
  }

  .inner_main {
    display: flex;
    flex-direction: column;
  }

  .sort_main {
    width: 100%;
  }

  .sort_main > div:not(.hr) {
    margin-top: 0px;
  }
  .books_inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .books_and_filters {
    width: 100vw;
  }

  .filters_main {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0;
  }

  .filters_main > div {
    padding: 5px;
    display: flex;
    justify-content: center;
  }

  .filters_left {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }

  .filter_by {
    padding-bottom: 10px;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 1000px) {
  .filters_main {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .filters_main > div {
    display: flex;
    justify-content: center;

  }
  .books_and_filters {
    width: 100%;
  }
  .filters_left {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
